@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Inter';
    font-size: 18px;
    background-color: #141414;
    color: #fff;
}

.container{
    width: 100%;
    margin: auto;
    max-width: 1200px;
    padding: 0px 20px;
}

.logo a{
    font-family: 'Calistoga';
    font-size: 36px;
    color: #fff;
    text-decoration: none;
}

.logo a span{
    color: #fe6a0f;
}

/*HEADER*/
header .container{
    display: flex;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    gap: 50px;
}

header nav{
    flex:1;
    display: flex;
    align-items: center;
}

header nav .left-side{
    display: flex;
    flex: 1;
}

header nav li{
    margin: 0 30px;
}

header nav li a{
    text-decoration: none;
    color: #fff;
    transition: ease .3s;
}

header nav li a:hover{
    color: #999;
    text-decoration: underline;
}

header nav .button{
    display: block;
    border: 1px solid #fff;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: ease .3s;
}

header nav .button:hover{
    color: #999;
    border: 1px solid #999;
}

header .menu{
    display: none;
    flex:1;
    justify-content: flex-end;
}

header .menu-icon{
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

header .menu-icon div{
    height: 6px;
    background-color: #fff;
}

/*HERO*/
#hero .container{
    display: flex;
}

#hero .left-side, #hero .right-side{
    flex: 1;
}

#hero .left-side{
    padding-bottom: 150px;
}

#hero .right-side{
    text-align: center;
}

#hero .right-side img{
    width: auto;
    height: 600px;
}

#hero h1{
    font-family: 'Calistoga';
    font-size: 72px;
    line-height: 80px;
    font-weight: 600;
    margin-top: 50px;
}

#hero p{
    font-family: 'Inter';
    font-size: 20px;
    line-height: 26px;
    margin:40px 0px;
}

#hero .button{
    display: inline-block;
    background-color: #fe6a0f;
    font-family: 'Inter';
    font-weight: 500;
    color: #fff;
    padding: 15px 80px;
    border-radius: 5px;
    text-decoration: none;
    transition: ease .3s;
}

#hero .button:hover{
    opacity: 0.6;
}














@media (max-width:820px){
    header nav{
        display: none;
    }

    header .menu{
        display: flex;
    }

    #hero .container{
        flex-direction: column;
    }

    #hero .left-side{
        text-align: center;
        padding-bottom: 30px;
    }

    #hero .right-side{
        padding-bottom: 30px;
    }

    #hero .right-side img{
        height: 300px;
    }

    #hero h1{
        font-size: 44px;
        line-height: 50px;
    }
}
